Makefile.in
Makefile
libtool
stamp-h1
Doxyfile
config.h
config.log
config.status
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
autom4te.cache
aclocal.m4
m4

*~
*.swp

.DS_Store
_site
.sass-cache/
.jekyll-cache/
.jekyll-metadata
dist/
